name: Auto Assign documentation tickets to Project

on:
  issues:
    types: [opened]
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to One Project
    steps:

    - name: Assign issues to Scrum Board
      uses: srggrs/assign-one-project-github-action@1.2.0
      with:
          project: 'https://github.com/leonschbbht/feedibus/projects/1'
          column_name: 'Product Backlog'