name: "Mater: CD - Deploy latest version of Projekt"
on:
  release:
    types: [published]
    branches:
      - master
jobs:
  docker:
    name: "Build deployment version of Docker image"
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Repository
          uses: actions/checkout@v2
        - name: Login to GitHub Container Registry
          run: echo ${{ secrets.PACKAGES_ACCESS_TOKEN }} | docker login docker.pkg.github.com -u leonschbbht --password-stdin
        - name: Build Docker image
          run: docker build --build-arg password=${{secrets.DATABASE_PASSWORD}} ./ --tag docker.pkg.github.com/leonschbbht/feedibus/master
        - name: Push to GitHub Packages Container Registry
          run: docker push docker.pkg.github.com/leonschbbht/feedibus/master
  dependency:
    name: "Wait for docker image to become ready"
    needs: docker
    runs-on: ubuntu-latest
    steps:
        - name: "Wait 20s Timeout"
          run: sleep 20
  terraform:
      name: "Run and deploy terraform configuraiton"
      runs-on: ubuntu-latest
      needs: [docker, dependency]
      steps:
      - uses: actions/checkout@v2
        with:
          ref: terraform-infrastructure
      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.13.4
      - name: "Terraform initialization"
        run: terraform init
        env:
            ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
            ARM_CLIENT_SECRET: ${{secrets.ARM_CLIENT_SECRET }}
            ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
            ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

      - name: "taint null resource | Remote execution provisioner"
        run: terraform taint -allow-missing module.modules.module.machine.null_resource.init-script-execution
        env:
            ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
            ARM_CLIENT_SECRET: ${{secrets.ARM_CLIENT_SECRET }}
            ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
            ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

      - name: "Terraform code validation"
        run: terraform validate
      - name: "Terraform Plan"
        run: terraform plan -var dockertoken=${{ secrets.PACKAGES_ACCESS_TOKEN }} -out=plan.tfplan
        env:
            ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
            ARM_CLIENT_SECRET: ${{secrets.ARM_CLIENT_SECRET }}
            ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
            ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

      - name: "Apply Terraform Configuration"
        run: terraform apply -auto-approve plan.tfplan
        env:
            ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
            ARM_CLIENT_SECRET: ${{secrets.ARM_CLIENT_SECRET }}
            ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
            ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}